.smoothcontainer{
padding-left:24px;
}
.ddsmoothmenu{
font: bold 12px Verdana;
width: 100%;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
background:url(nav-divider.png) no-repeat top right;
position: relative;
display: inline;
float: left;
padding-right:2px;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{

    color: #fff;
    display: block;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 17px !important;
    text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#FFF; 
color: #00458b;
}

.ddsmoothmenu ul li a:hover{
background:url(nav-hover-bg.png); /*background of menu items during onmouseover (hover state)*/
color: #00458b !important;
}
.ddsmoothmenu ul li ul li a:hover, .ddsmoothmenu ul li:hover ul li a:hover{/*background:none !important; background of menu items during onmouseover (hover state)*/
color: #00458b !important;}	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden; width:250px !important; background:#FFF;
-moz-box-shadow: 2px 2px 3px #969696;
/*-webkit-box-shadow: 2px 2px 3px #969696;*/ padding:9px; border:1px solid #e6e6e6;
 -moz-border-radius:0px 0px 4px 4px; /*-webkit-border-radius:4px;*/  border-radius: 0px 0px 4px 4px;
}
.ddsmoothmenu ul li ul{zoom: 1;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3)}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li, .ddsmoothmenu ul li:hover ul li{
display: list-item;
float: none; background:url(../images/sub-nav-divider.jpg) repeat-x top;
padding-top:1px;
}
.ddsmoothmenu ul li ul li:first-child{background:none;}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a, .ddsmoothmenu ul li:hover ul li a{
/*width of sub menus*/
padding: 8px;
margin: 0;
border-top-width: 0; color:#00458b !important; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:13px; display:block; 
}
/*.ddsmoothmenu ul li.last{ background:none;}*/
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
 position: absolute;
    right: 17px;
    top: 17px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: none;
}
.ddsmoothmenu ul li a img.downarrowclass{display:none !important;}

/*.ddsmoothmenu ul li a.arrow{background:url(../images/two-arrows.png) no-repeat right 0px !important;}  
.ddsmoothmenu ul li a.arrow:hover{background:url(../images/two-arrows.png) no-repeat right -35px !important;} 
.ddsmoothmenu ul li a img{background:url(../images/green_down.jpg) no-repeat left top;
float:right; width:8px; height:4px; border:0 !important; text-decoration:none;}

.ddsmoothmenu ul li a:hover img, .ddsmoothmenu ul li:hover a img{background:url(../images/down.gif) no-repeat left top;
float:right; width:8px; height:4px;}
.ddsmoothmenu ul li:hover a{color:#F77E16 !important; border:none;}*/