/*
color: 1f6db5 / e4f1ff
*/

	body { margin-top:10px; background:#e4f1ff url(../images/bg.png) repeat; }
	.wrapper { background:#fff; border:10px solid #fff; -webkit-box-shadow: 0 0 0px #cccccc; -moz-box-shadow: 0 0 0px #cccccc;  	-webkit-box-shadow: 0 0 0px #ccc;  	box-shadow:0px 0px 15px #ccc; }

	a, h1, h3 { color:#1f6db5; }

	/* ===================== COLUMN WIDTHS ======================== */ 

	.leftSidebar { width:20%; margin-right:10px; margin-left:0px; }
	.middleSidebar {/* width:74% */width:635px;margin-top:-20px; *width:620px}
	.rightSidebar { /*width:24.5%;*/ width:260px; margin-left:10px; margin-right:0px; float:right; *width:250px;}
	#PPTSinglePage-post .rightSidebar { width:260px; *width:250px;   }

	/* ===================== HEADER STYLES ======================== */ 
	 
	#header {height: 110px; }
	#header, .menu { margin-left: 0px; width:960px; }
	
	#banner {margin-top: 0px; }

	#hpages { text-align:right; float: right; height:30px;width:500px; background:#e4f1ff;   }
	#hpages ul {    float:right; margin-top:2px; width:500px; }
	#hpages ul li { float: right; padding-right: 10px; margin-right: 10px; border-right: 1px solid #333; }
	#hpages ul li.last { padding-right: 0; margin-right: 0; border-right: none; }
	#hpages ul li a { text-decoration: none; color: #fff; }
	#hpages ul li a:hover { color: #ccc; }
	#hpages ul li.current a { color: #ccc; }		 
 
	#hpages ul { padding-top:5px;  }
	#hpages ul li { border-right:1px solid #d2e5f9; }
	#hpages ul li a {color: #1f6db5 }
 	#hpages ul li ul li a {color: #fff }
 
 	.menu { background:url(../images/nav.gif) repeat-x;  }
	.menu li { 	background:url(../images/menu_spacer.png) top right no-repeat; height:100%; }
 	/*#submenubar { margin-left:0px; }*/
	#submenubar { margin-left:0px; width:943px; border:none; background: none repeat scroll 0 0 #FFFFFF; height: 20px;}
		#SearchForm {  margin-left:0px; text-align:left; width:260px }
		#searchBox span { margin-left:10px; text-decoration:underline;}		 
		#searchBox .searchBtn { margin:0px; border:0px; width:50px; height:29px; background:url(../images/search.gif) no-repeat; border:0px !important; padding:0px; float:left; cursor:pointer; }
		#SearchForm label{display:none;}
 	
	ul.submenu_account { font-size:12px; text-transform:uppercase; }
	ul.submenu_account li { font-size: 10px;   margin-right: 10px;   margin-top: 0;}
	
	/* ===================== CONTENT STYLES  ======================== */ 
	
	#content { padding:0px; padding-top:10px; }
	.middleSidebar h1 {   color:#1f6db5;  }
	
	#griddler hgroup.price { background: #1f6db5 url(../images/nav.gif) repeat-x !important; border:1px solid #e4f1ff !important; }
	#griddler .price h2 { border-top:0px !important; border-right:0px !important; border-left:0px !important; }
	
	#PPTSinglePage-post .first_col { margin-left:10px; margin-bottom:20px; width:635px; *width:620px }
	ul.tabs li { background:#fff url(../images/content_pane-gradient.gif) bottom left repeat-x; }
	
	/* ===================== FOOTER STYLES  ======================== */ 
	
	.btnDownload_01:before { content: url(../images/icon-sidebar-button.png); background:url(../images/nav.gif) repeat-x; }
	#sidebar_recentarticle { padding:10px; }
	
	/* ===================== SIDEBAR STYLES  ======================== */ 
	
	#footer { background-image:none; background:#e4f1ff;  color: #1f6db5;  }
	#footer p, #footer h3, .recentarticles a { color: #1f6db5; }
	.recentarticles a { text-decoration:underline; }
	
	/* ===================== SLIDERS  ======================== */ 

	.myslider { margin-top:10px; }
	#siteFeature {position:relative;  background:#efefef; border:1px solid #fff; margin-left:0px !important; width:960px !important; }
	#siteFeature #tabContainer a:link, #siteFeature #tabContainer a:visited { background: transparent url(../images/_slider_inactive.png) no-repeat; }
	#siteFeature #tabContainer a:hover{ background:#fff url(../images/_slider_inactive1.png) no-repeat; }
	#siteFeature #tabContainer a h4 { color: #666; padding:10px 11px 0px 11px; }	
	#siteFeature #tabContainer a.selected h4, #siteFeature #tabContainer a.selected p { color: #fff; text-shadow: 0px 1px 0px #666; }	
	.PPTActiveTab { background: transparent url(../images/_slider_active.png); }
	#siteFeature #txtBoxContainer a { color:#fff;} 
	#siteFeature h3 { color:#fff; }
	
 
	.itembox { /*border: 1px solid #E2E2E2;*/  border: none; clear: both;margin: 0px 0px 15px;padding: 0px;  }
	/*.itembox h2, .itembox h1 {	margin: 0px 0;	 font-size:16px;     line-height:28px;     text-transform:uppercase;    min-height:40px;  margin-bottom:0px;     border-bottom:solid 1px #e8e8e8;    padding:12px 20px 0 20px;    background-image:url(../images/itemboxh2.gif);    background-color:#efeeee;   background-repeat:repeat-x;	color:#444;}*/
	.itembox h2, .itembox h1 {	/*margin: 0px 0;	 font-size:16px;     line-height:28px;     text-transform:uppercase;    min-height:40px;  margin-bottom:0px;     border-bottom:1px solid #CCCCCC;    padding:12px 20px 0 20px;    background-image:none;    background-color:#fff;   background-repeat:repeat-x;	color:#444; padding-left:5px;*/
	color: #0D4065 !important;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin: 7px 0 15px;
    padding: 0;
    text-align: left;
    text-decoration: none;
	background-image:none;    
	background-color:#fff;
	border-bottom: 1px solid #CCCCCC;
	letter-spacing:0;
	}
	.itemboxinner {  background:#fff /*url(../images/content_pane-gradient.gif) bottom left repeat-x*/; }
	.itembox_border{border:2px solid #ccc;}
	.itembox_border h1{
		color: #0D4065 !important;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin: 7px 0 0;
    padding-left: 12px;
    text-align: left;
    text-decoration: none;
	background-image:none;    
	background-color:#fff;
	border-bottom: 1px solid #CCCCCC;
	letter-spacing:1px;
	}

	/* ===================== GALLERY STYLES  ======================== */ 
	
	#SearchContent .hightlighted .itemboxinner { background:transparent; }
	#SearchContent .icon-search-item {background: #fff; /*#C9C9C9;*/ border-bottom: medium none;}
	#SearchContent .icon-search-item a{ color:#1F6DB5; letter-spacing:0;  font-size:20px;}
	#SearchContent .hightlighted {background: #e4f1ff url(../images/_gallerypage_highlighted.png) no-repeat right bottom;border: 3px solid #1f6db5;}
	#SearchContent .hightlighted h1 {color: white !important;background: #e4f1ff url(../images/nav.gif) repeat-x; text-shadow: 0px 1px 0px #666;padding-left: 10px; margin-top:0;}
	
#PPTHomePage .homeCategories li {
    min-height: 70px;
	height:90px;
}
.homeCategories ul li {
    min-width: 210px;
    width: 210px;
}
.homeCategories ul li span a{
color: #4888AD !important;
font-size: 14px !important;
padding:5px 0 5px 10px !important;
background: none repeat scroll 0 0 #FFFFFF !important;
}
.homeCategories{
background: none repeat scroll 0 0 #FFFFFF;
}
#homeFeaturedBottom li h3 a{
 color: #1979D5 !important;
    font-size: 24px;
    font-weight: bold;
    line-height: normal !important;
}
#homeFeaturedBottom li p{
 font-size: 13px;
    line-height: 17px;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
}
/* home categories table start*/
.homeCategories .scats{
margin-left:10px; margin-bottom:20px;
}
.homeCategories .scats a {
    border: none;
    color: #666666;
    margin: 3px 0 0 0;
	font-size:13px !important;    
}
.homeCategories .scats a:hover {
    border: none;
    color: #666666;
    margin: 3px 0 0 0;
   	background:none repeat scroll 0 0 #FFFFFF;
	font-size:13px !important;    
}
.homeCategories table tr td {
    min-width: 210px;
    width: 210px;
}
.homeCategories table tr td span a{
background: none repeat scroll 0 0 #FFFFFF !important;
    color: #4888AD !important;
    font-size: 14px !important;
    padding: 5px 0 5px 10px !important;
}
#homeFeaturedBottom td h3 a{
 color: #1979D5 !important;
    font-size: 24px;
    font-weight: bold;
    line-height: normal !important;
}
#homeFeaturedBottom td p{
 font-size: 13px;
    line-height: 17px;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
}


/* home categories table end*/
#sidebar{
margin-right:10px;
*margin-right:0;
}
#page{
background:transparent;
}
#content{
background:transparent;
}
#searchBox .searchBtn {
    background: url("../images/go.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none !important;
    cursor: pointer;
    float: left;
    height: 29px;
    margin: 0;
    padding: 0;
    width: 50px;
}
#homeFeaturedBottom li{
border-bottom:none;
}
#homeFeaturedBottom li:hover{
background:none;
}
.text{
width: 400px !important;
}
.meta a{
	background: url("../images/moreinfo.jpg") no-repeat scroll 0 0 transparent !important;
	color: #5A5A5A !important;
	font-size:12px !important;
	padding-top: 3px !important;
    text-align: center;
    width: 100px !important;
	*width: 112px !important;
}
#sidebar .widget li a{
width:234px;
letter-spacing:0px;
}
.right-side-logo {
    color: #1979D5;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 2px 0;
}
.logo-img {
    float: left;
    margin: 3px 15px 0 0;
}
.logo-text {
   overflow: hidden;
}
.logo-text span{
	color:#333333;
	font-size:11px;
	font-weight:normal;	
	font-family:Arial,Helvetica,sans-serif;	
}
.logo-text span a{text-decoration:underline !important;}
.logo-text a{
color:#4888AD !important;
text-decoration: none !important;
font-size: 14px !important;
    font-weight: bold !important;
}
.middle_category_box{
	border: 2px solid #CCCCCC;
    padding: 20px 40px;
}
.middle_category_box tr{
	line-height:30px;
}
.middle_category_box tr td span{
	font-size:12px;
}
.middle_category_box tr td span a{
	background:url(/images/arrow2.gif);
    background-position: left center;
    background-repeat: no-repeat;
   /* border-bottom: 1px dotted #D8D8D8;*/
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 3px 0 6px 22px;
    text-decoration: none;

}
#homeFeaturedBottom li img{
width:100px;
height:37px;
}
.shadowJoomlaIndex {
    border: 1px solid #FAFAFA;
    float: left;
    overflow: hidden;
	margin-left:20px;
}
.shadowJoomlaIndex div div {
    border: 1px solid #DFDFDE;
    overflow: hidden;
}
.thumbnail-large{
background:none !important;
width: 180px !important; 
}
.border_r{
border:none !important;
}
p {
    font-size: 13px !important;
    line-height: 17px !important;
    padding: 0 0 15px !important;
}
ul.tabs li a{
font-size: 13px !important;
}
.padding {
padding: 15px 15px 15px 3px !important;
}
#griddler.col4 article{
 width:220px !important;
}
.plinks a{
    background: url("../images/moreinfo.jpg") no-repeat scroll 0 0 transparent !important;
    color: #5A5A5A !important;
    font-size: 12px !important;
    padding-top: 3px !important;
    text-align: center;
    width: 100px !important;
	*width: 112px !important;
}
.menu-search-inner{
	clear:both;
}
.CheckoutBtn{
padding-top: 14px !important;
}

/*===================================Package selection start here=============================================*/
.p-lr-34{ padding:13px 34px !important;}
.m-t-none{ margin-top:0 !important;}
.m-t25{ margin-top:25px !important;}
.m-t17{ margin-top:17px !important;}
.m-t6{ margin-top:6px !important;}
.w-80{ width:80px !important;}
.w-35{ width:35px !important;}
.w-47{ width:47px !important;}
.w-20{ width:20px !important;}
.text-al-c{ text-align:center;}

.list-your-pro-sec{ background:#e9f3fc; min-height:350px; padding:15px; margin:12px 0 0 0; float:left;}
.list-your-map{ float:left; padding: 3px 36px 0 7px;}
.list-your-right{ float:left; width: 386px;}
.list-your-right h1{ font-family:Arial; font-size:30px; line-height:36px; color:#1c428b; margin:8px 0 6px 0; padding:0; font-weight:bold;}

ul.list-you-pro{ margin:0; padding:0;}
ul.list-you-pro li{ margin:0; padding:0 0 0 16px; background:url(/directory/wp-content/themes/directorypress/images/orange-dote-icon.png) no-repeat left 15px; font-family:Arial; font-size:16px; line-height:36px; color:#1c428b; font-weight:bold; list-style:none;}

.per-year-bg{background:url(/directory/wp-content/themes/directorypress/images/pay-year-bg.png) no-repeat left top; width:439px; height:113px; margin:16px 0 0 0; padding:0; float:left;}
.per-year-number{ float:left; margin:21px 0 0 46px; width:130px; font-family: 'Frutiger65Bold'; font-size:60px; color:#fff; line-height:51px;}
.dollar{font-family: 'Frutiger65Bold'; font-size:36px; color:#fff; float:left;margin: -9px 0 0;}
.per-year-text{font-family:Arial; font-size:18px; color:#fff; float:left; padding:0px 0 0 22px; line-height:22px;}

.or{ width:32px; float:left; margin: 62px 0 0;text-align: center; color:#666666; font-family:Arial; font-size:18px; font-style:italic;}
.lifetime-bg{background:url(/directory/wp-content/themes/directorypress/images/lifetime-bg.png) no-repeat left top; width:439px; height:113px; margin:16px 0 0 0; padding:0; float:left;}
.get-started-but{float: right;margin: 34px 49px 0 0;}

.why-choose-us{ float:left; margin:63px 0 28px 0; padding:0;}
.why-choose-left{ width:228px; margin:0 70px 0 44px; float:left;}
.why-choose-right{ float:left; width:500px; }
.why-choose-right h1{font-family:Arial; font-size:22px; color:#1b418a; font-weight:bold; line-height:17px; margin:0 0 26px 0; padding:0;}
.why-choose-right p{font-family:Arial; font-size:13px; color:#333333; font-weight:normal; line-height:17px; margin:0 0 3px 0; padding:0;}

ul.features-list{ float:left; margin:0; padding:0;}
ul.features-list li{ float:left; margin:0 0px 10px 0; padding:0 0 0 25px; background:url(/directory/wp-content/themes/directorypress/images/check-icon.png) no-repeat left top; list-style:none; font-family:Arial; font-size:13px; color:#333333; font-weight:bold; width:225px;}

.submit-listing-but{ margin:32px 0 0 0;}

.enter-info-left{ float:left; width:610px; margin:0; padding:0;}
.enter-info-left h1{ font-family:Arial; font-size:30px; color:#333333; margin:21px 0 40px 0; padding:0;}
.enter-info-left h3{ font-family:Arial; font-size:13px; color:#333333; margin:0px 0 45px 0; padding:0; font-weight:normal; letter-spacing:0}
.enter-info-left h3 span{ color:#1979d5;}


ul.contact-list{ float:left; margin:0 0 30px 0; padding:0;}
ul.contact-list li{ float:left; margin:0 0 10px 0; padding:0; list-style:none;}
ul.contact-list li .list-title{ margin:0 0 7px 0; padding:0; font-family:Arial; color:#1979d5; font-size:20px; font-weight:bold;line-height:40px;}
ul.contact-list li .list-title span{ margin:0 13px 0 0; padding:10px 20px 10px 0; font-family:Arial; color:#fff; font-size:20px; font-weight:bold; background: url(/directory/wp-content/themes/directorypress/images/blue-arrow.png) no-repeat left top ; float:left; width:41px; text-align:center; line-height:20px;}

ul.contact-list li label{ float:left; margin:0 17px 0 0; padding:0; width:175px; font-family:Arial; font-size:13px; color:#666666; font-weight:bold; text-align:right; line-height: 30px;}
ul.contact-list li input{background: url(/directory/wp-content/themes/directorypress/images/input-bg.jpg) repeat-x left top ;border:1px solid #afaeae;float: left;
height: 18px; line-height: 20px;margin: 0; padding:5px; width:310px; font-family:Arial; font-size:13px; color:#999999;}
ul.contact-list li input[type="radio"]{ width:20px; border:none;}
ul.contact-list li select {float: left;line-height: 20px;width: 150px; margin-top: 5px;}

ul.contact-list li .divider {float: left;line-height:30px;padding: 0 5px; color:#999999; font-size:13px;}
.zip-sec{ float:left; margin:0 10px 0 10px; width:60px; font-family:Arial; font-size:13px; color:#666666; font-weight:bold; text-align:right; line-height:30px;}
.zip-sec-input{ width:92px; float:left;}

.q-m-icon1{ float:right; margin:9px 0px 5px 5px;}
.question-mark-icon{ float:left; margin:9px;}

.annual-sec{ background:#e9f3fc; float:left; padding:10px 20px 10px 10px; font-family:Arial; font-size:13px; color:#333333; font-weight:bold; margin:10px 0; line-height: 16px;}

.enter-info-right{ float:left; width:300px; padding:0 0 0 28px; border-left:1px solid #ccc; min-height: 1183px;}
.enter-info-right h1{ font-family:Arial; font-size:18px; color:#1c428a; margin:10px 0 23px 0; padding:0 0 8px 0; border-bottom:1px solid #ccc; font-weight:bold;}
.enter-info-right h3{ font-family:Georgia; font-size:16px; color:#333333; margin:0 0 10px 0; padding:0; font-weight:normal; font-style:italic; line-height:21px; }
.enter-info-right p{ font-size:13px; font-style:normal; font-family:Arial; background: url(/directory/wp-content/themes/directorypress/images/blue-line.png) no-repeat left 7px ; padding:0 0 0 10px !important; margin:0 0 45px 0;}
.open{background: url(/directory/wp-content/themes/directorypress/images/open.png) no-repeat left 4px ; padding:0 0 0 13px; float:left; width:18px; height:21px;}
.close{background: url(/directory/wp-content/themes/directorypress/images/close.png) no-repeat left 4px ; padding:0 0 0 13px; width:9px; height:13px; margin:0 0 0 5px;}