
    <tr align="center" valign="top">
    <LOOP NAME="show_images">
      <td><a href="{large_image_page}?{number}" target="picture" onClick="window.open('','picture','toolbar=0,location=0,directories=0,status=yes,menubar=0,scrollbars=yes,resizable=yes,width=525,height=550,titlebar=yes')"><img src="{image_url}/{name}" alt="{name}" title="{name}" style="border:1px solid #00E0FF";></a><br /><span style="font-size:9pt">{txt_image_views}: {views}</span></td>
    </LOOP NAME="show_images">
    </tr>        