<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Page Capture</string>
	<key>CFBundleIdentifier</key>
	<string>com.apaulodesign.widget.Page-Capture</string>
	<key>CFBundleName</key>
	<string>Page Capture</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CloseBoxInsetX</key>
	<integer>7</integer>
	<key>CloseBoxInsetY</key>
	<integer>31</integer>
	<key>Height</key>
	<integer>115</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>Width</key>
	<integer>332</integer>
</dict>
</plist>
