/* CSS Document */
label.color{color:#0000FF; font-size:17px;}
label.color1{color:#9933FF; font-size:20px;}
.colors{color:#7900F2; font-size:16px;}
.bimag{ font-size:18px; background-image:url(../abc.jpg);}
.himag{background:url(../abc1.jpg);}
